
.ibtn{
    box-shadow:0px -2px 2px #e5e5e5;
    padding:4px;
    font-size: 14px;
    display: inline-block;
    background-color: #e5e5e5;
    color:black;
    border-radius: 4px;
}

.box {
    display: inline-block;
    vertical-align: top;
}

.box1 {
    background:white ;
}

.smallText{
    color:#969ca4;
    font-size: 12px;
}


.middleText{
    color:black;
    font-size: 14px;
}

.bigText{
    color:black;
    font-size: 18px;
    font-weight: bold;
}