
.ibtn{
    #box-shadow:0px -2px 2px #e5e5e5;
    padding:4px;
    font-size: 14px;
    display: inline-block;
    background-color: #e5e5e5;
    color:#494949;
    border-radius: 4px;
    vertical-align: top;
}

.shadowBox{
    background-color: #e5e5e5;
    box-shadow:0px -2px 2px #e5e5e5;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
}

.box {
    display: inline-block;
    vertical-align: top;
}

.box1 {
    color:#494949;
    background:white ;
}

.smallText{
    color:#494949;
    font-size: 12px;
}

.smallTextGray{
    color:#969ca4;
    font-size: 12px;
}


.middleText{
    color:#494949;
    font-size: 14px;
}

.bigText{
    color:#494949;
    font-size: 18px;
    font-weight: bold;
}

.color_blue{
    color:rgb(71, 175, 255);
}
.color_green{
    color:rgb(94, 202, 80);
}
.background_green{
    background-color: #5ECA50;
}

.tabContentDiv{
    overflow: hidden;
}

.tabContentDiv::-webkit-scrollbar {
    width: 0 !important
}